/* TODO Add site wide styles */

body{
    height: 100vh;
    background: url('./images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center-div{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    z-index: 1;
}

#root{
    height: auto;
    display: flex;
    flex-direction: column;
}
