/* TODO Add site wide styles */

body{
    height: 100vh;
    background: url('./images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Proxima Nova', 'helvetica neue',Arial, Helvetica, sans-serif;
}


#root{
    height: auto;
    display: flex;
    flex-direction: column;
}
